<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Excel to PDF</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bootslander - v4.7.2
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/exceltopdf"><span>EXCEL to PDF</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>All tools</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/docxtopdf">Word to PDF</a></li>
              <li><a href="/exceltopdf">Excel to PDF</a></li>
              <li><a href="/ppttopdf">Powerpoint to PDF</a></li>
              <li><a href="/jpegtopdf">Jpeg to PDF</a></li>
              <li><a href="/pngtopdf">Png to PDF</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Convert Excel Document to PDF</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>EXCEL to PDF</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
         <!--================Drag and Drop  Area =================-->

   
     <!--file upload section --> 
     <script>
      function showLoader(){
 
         const loadi = document.getElementById("load");
         const ck = document.getElementById("checking");
 
             loadi.style.display = "Block";
         
       
         
      }
         
          
          
         
      </script>
 
      <div class="cont" style="margin-bottom: 50px; padding-top: 50px; padding-bottom: 50px; border: 1px solid #cccccc">
      <form action="/singleExcel" method="post" enctype="multipart/form-data">          
        
       <input type="file" name="myFileExcel" id="main-file" style="display: none;" />
       <center>
       <button id="custom-button" type="button" class="btn btn-primary btn-large ch"> <img class ="chImg" src ="icons/add.png" /> Choose file
       </button>
       <div class="drop-zone">
         <div class="drop-zone__prompt">
         <p id="checking">No file choosen</p>
         </div>
     </div><br/>
       <button type="submit" onclick="showLoader();" class="btn btn-primary btn-large ch">Convert To PDF</button> 
         <div id="load" style="display: none;">
       <img src="img/loader.gif" height="100" width="100"/> <p>Converting</p>
     </div>
     </center>
     </form> 
 </div>
 
 
 
     
         <!--================ Drag and Drop Area end =================-->
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>PDF CONVERTER</h3>
              <p class="pb-3"><em>This project is created by a final year student of the department of computer science Lagos State University </em></p>
              <p>
                Lagos State University <br>
                OJO, Nigeria.<br><br>
                <strong>Phone:</strong> +234 9037 4899 98<br>
                <strong>Email:</strong> michaelakinlade42@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Pages</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
             
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/docxtopdf">DOCX to PDF</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/exceltopdf">EXCEL to PDF</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/ppttopdf">PPT to PDF</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/jpegtopdf">JPEG to PDF</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/pngtopdf">PNG to PDF</a></li>
            </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newletter</p>         
            <form action="#" >
            <input id="email" type="email" name="email" required><input type="submit" value="Subscribe">
              
            </form>

          </div>

        </div>
      </div>
    </div>

   
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2022</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="https://github.com/Iszzytech">Iszzytech</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
  <script src="js/fileupload.js"></script>

</body>

</html>